@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

body {
	margin : 0;
}

#navbar {
	background-color: rgb(45, 15, 63);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 2%;
	padding-bottom: 1%;
}

.nav-elements {
	color: aliceblue;
	padding: 1%
	
}

.nav-title {
	font-family: 'Share Tech', sans-serif;
	font-size: 200%;
}

#main-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
}

#main-content > * {
	flex: 1 100%;
}

#play-screen {
	background-color: rgb(3, 3, 3);
	position: relative;
	padding-top : 17em;
}

#video {
	position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#play-screen > button {
	position : relative;
	left: 50%;
	transform: translateX(-50%);
	top: -80%;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background-color:transparent;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

aside {
	background-color: black;
	color: aliceblue;
	display: flex;
	flex-direction : column;
	justify-content: space-evenly;
	align-items: center;

}



#chat {
	background-color: black;
	color: aliceblue;
}

footer {
	background-color: rgb(45, 15, 63);
	font-family: 'Share Tech', sans-serif;
	font-size: 100%;
	text-align: center;
	color: aliceblue;
	padding: 7%;
}