# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

BACKEND_PORT="XXX"
BACKEND_HOST="XXX"

MEILISEARCH_HOST="XXX"
MEILISEARCH_APIKEY="XXX"

ID_42="XXX"
SECRET_42="XXX"

JWT_SECRET="XXX"
COOKIE_SECRET="XXX"

# URL_42 is useful in the frontend as it will first be called to authenticate using 42 API.
URL_42="XXX"
CALLBACK_URL_42="XXX"

POSTGRES_USER="XXX"
POSTGRES_PASSWORD="XXX"
POSTGRES_HOST="XXX"
POSTGRES_PORT="XXX"
POSTGRES_DB="XXX"

# Don't change the following, it's configured to work as intended by prisma.
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"
