# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

BACKEND_PORT="XXX"
BACKEND_HOST="XXX"

GOOGLE_ID="XXX"
GOOGLE_SECRET="XXX"
GOOGLE_CALLBACK_URL="XXX"

POSTGRES_USER="XXX"
POSTGRES_PASSWORD="XXX"
POSTGRES_HOST="XXX"
POSTGRES_PORT="XXX"
POSTGRES_DB="XXX"

# Don't change the following, it's configured to work as intended by prisma.
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"
