.background_aboutus{
  background-color: white;
  height : 90vh;
	width: 100%;
} 

.aboutus{
  width: auto;
}

.aboutus h1{
  padding: 20px;
  padding: 20px;
  text-align: center;
  font-size: 60px;
} 

.container{
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}

.container_staff h2, .container_staff p{
  display: flex;
  margin : 0px;
  text-align:justify;
}

/* .team-member {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
  max-width: 300px;
  text-align: center;
} */

/* .team-member img {
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
} */

/* .team-member h2 {
  font-size: 24px;
  margin-bottom: 5px;
} */

/* .team-member p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
  } */