.background_aboutus{
  background-color: rgb(19, 16, 16);
  height : 90vh;
	width: 100%;
} 

.aboutus{
  width: auto;
  /* display :flex;
  justify-content: space-around; */

}

.aboutus h1{
  padding: 20px;
  text-align: left;
  font-size: 50px;
  color :white;
  /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff;
  background-image: linear-gradient(to right, #ffffff, #fff); */
} 

.aboutus p{
  padding: 20px;
  text-align: justify;
  font-size: 20px;
  color :white

}

.container{
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  
}

.container_staff h2, .container_staff p{
  display: flex;
  margin : 0px;
  justify-content: center;
  text-align: justify;
  color :white
}

.image{
  width: 100%; 
  height: auto;
  border-radius: 10px;
  transition: 0.3s;
  z-index: 2;
	cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  
}

.text{
  float: right;
}

.image:hover{
  border-radius: 15%;
	transition: 0.3s;
}