.chat {
    position: fixed;
    top: 80px;
    right: -100px;
    /* left: 2250px; */
    height: 1151px;
    background-color: rgba(24, 46, 65, 0.781);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }
  
  .chat.collapsed {
    width:400px;
    transform: translateX(300px);
  }
  
  .chat.expanded {
    width: 500px;
    transform: translateX(0);
  }
  
  .toggle-button {
    position: absolute;
    /* padding-right: 20%; */
    left: -60px;
	top:30px;
    width: 70px;
    height: 70px;
    /* border-radius: 50%; */
    color: rgb(216, 237, 239);
	background-color: transparent;
    /* box-shadow: 0 0 10px rgba(16, 12, 12, 0.3); */
    /* box-shadow:
		0 0 7px #efefef,
		0 0 10px #efefef,
		0 0 20px rgb(60, 116, 166),
		0 0 42px rgb(60, 116, 166),
		0 0 50px rgb(60, 116, 166); */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transform: translateY(-50%);
    z-index: 1;
  }

  .text-input {
    position: absolute;
    top: 1070px;
    margin: 20px;
    width: 70%;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
  }

  .content {
    padding: 20px;
    color: aliceblue;
  }
  