.background_faq{
    width: 90%;
    margin: auto;
}
.faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    size-adjust: auto;
}

.faq_box {
    box-sizing: border-box;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgb(255, 192, 247), 0 0 20px rgb(255, 192, 247), 0 0 30px rgb(255, 192, 247), 0 0 40px rgb(255, 192, 247), 0 0 45px rgb(255, 192, 247);
    margin : 30px;
    padding: 15px;
    font-size: 20px;
    transition: all 0.4s ease; 
    font-size: 1.5rem;
    color: black;
    background-image: linear-gradient(to right, white, pink);
    -webkit-text-fill-color: rgba(66, 16, 62, 0.9); 
}


.faq_box::after{
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    transition: all 0.2s ease;
}  

.symbol{
    position: right;
    top: 15%;
    right: 10px;
}

.answer{
    width: 100%;
    font-size: smaller;
    font-weight: lighter;
    text-align: justify;
    overflow: hidden;
    transition: all 0.2s ease;
    margin-top: 15px;
}
