

.glitch2 {
	font-size: 10rem;
	font-weight: 700;
	text-transform: uppercase;

	text-shadow:
	0.05em 0 0 #efefef,
	-0.025em -0.025em 0 #90d0f0,
	-0.025em 0.05em 0 rgb(60, 116, 166);

	animation: glitch 2000ms infinite;
}

@keyframes glitch2 {
	0% {
		text-shadow: 0.05em 0 0 #efefef,
		-0.025em -0.025em 0 #90d0f0,
		-0.025em 0.05em 0 rgb(60, 116, 166);
	}
	15% {
		text-shadow: 0.05em -0.025em 0 #efefef,
		-0.025em -0.025em 0 #90d0f0,
		-0.025em 0.05em 0 rgb(60, 116, 166);
	}
	50% {
		text-shadow: 0.05em 0 0 #efefef,
		-0.025em -0.025em 0 #90d0f0,
		-0.025em 0.05em 0 rgb(60, 116, 166);
	}
	100% {
		text-shadow: 0.05em 0 0 #efefef,
		-0.025em -0.025em 0 #90d0f0,
		-0.025em 0.05em 0 rgb(60, 116, 166);
	}
}