#play-screen2 {
	height: 92vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button1 {
	display: flex;
	justify-content: left;
	background-color: transparent;
	color: #e3eef1;
	text-shadow:
	0 0 7px #efefef,
	0 0 10px #90d0f0,
	0 0 42px rgb(60, 116, 166),
	0 0 77px rgb(60, 116, 166),
	0 0 100px rgb(24, 46, 65);
	/* animation: lumiere 1s infinite linear; */
	border: 3px solid rgb(35, 71, 103);
	box-shadow:
		0 0 7px #efefef,
		0 0 10px #efefef,
		0 0 20px rgb(60, 116, 166),
		0 0 42px rgb(60, 116, 166),
		0 0 77px rgb(60, 116, 166);
	border-radius:15px;
	padding: 15px 25px;
	letter-spacing:5px;
	cursor: pointer;
	font-weight: bold;
	transition: .5s;
} 

.button2 {
	display: flex;
	margin-left: 100px;
	background-color: transparent;
	color: #e3eef1;
	text-shadow:
	0 0 7px #efefef,
	0 0 10px #90d0f0,
	0 0 42px rgb(60, 116, 166),
	0 0 77px rgb(60, 116, 166),
	0 0 100px rgb(24, 46, 65);
	animation: lumiere 1s infinite linear;
	border: 3px solid rgb(35, 71, 103);
	box-shadow:
		0 0 7px #efefef,
		0 0 10px #efefef,
		0 0 20px rgb(60, 116, 166),
		0 0 42px rgb(60, 116, 166),
		0 0 77px rgb(60, 116, 166);
	border-radius:15px;
	padding: 15px 25px;
	letter-spacing:5px;
	cursor: pointer;
	transition: .5s;
} 

.button1:hover {
	color: rgb(243, 249, 255);
	filter: drop-shadow(0 0 20px #90d0f09e) contrast(2) brightness(1);
	background: linear-gradient(rgba(5, 5, 5, 0.6), rgba(0, 0, 0, 0)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px);
	
	/* text-shadow:
	0.05em 0 0 #efefef,
	-0.025em -0.025em 0 #90d0f0,
	-0.025em 0.05em 0 rgb(60, 116, 166); */
	/* text-shadow: -3px -3px 0px #90d0f09e, 3px 3px 9px rgb(35, 71, 103); */
	/* animation: glitch 200ms infinite;
	animation-timing-function: steps(2, end); */
}

.button2:hover {
	color: rgb(243, 249, 255);
	filter: drop-shadow(0 0 20px #90d0f09e) contrast(2) brightness(1);
	background: linear-gradient(rgba(5, 5, 5, 0.6), rgba(0, 0, 0, 0)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px);
}


.button1::after{
  content: attr(title); 
  display: none;
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  transform: translateX(-50%);
  border: 3px solid rgb(35, 71, 103);
  background-color:  rgba(4, 8, 10, 0.641);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: normal;
}

.button1:hover::after {
	display: block;
  }

.button2::after {
content: attr(title); 
display: none;
position: absolute;
bottom: -135px;
left: 50%;
transform: translateX(-50%);
border: 3px solid rgb(35, 71, 103);
background-color:  rgba(4, 8, 10, 0.641);
color: #fff;
padding: 5px 10px;
border-radius: 4px;
font-size: 12px;
white-space: normal;
}

.button2:hover::after {
	display: block;
}