
#play-screen > button {
	/* position : relative; */
	display: flex;
	height: 5vh;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	
	color: rgb(24, 46, 65);
	border: 3px solid rgb(24, 46, 65);
	border-radius:15px;
	padding: 15px 25px;
	font-size: 30px;
	font-family: var(--font-type);
	letter-spacing:5px;
	cursor: pointer;
	font-weight: bold;
	filter: drop-shadow(0 0 15px #90d0f0) drop-shadow(0 0 50px #90d0f0) contrast(2) brightness(2);
	transition: .5s;
}

  #play-screen > button:hover {
	color: rgb(16, 104, 181);
	background-color: rgb(24, 46, 65);
	filter: drop-shadow(0 0 20px #90d0f0) contrast(2) brightness(2);
}

#play-screen {
	padding-top: 500px;
	padding-bottom: 500px;
	display: flex;
	justify-content: center;
  }