@import "../App.css";

#body-leaderboard {
	flex: 2 auto;
	overflow: auto;
}

#body-leaderboard::-webkit-scrollbar {
	width: 1em;
}
   
#body-leaderboard::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
#body-leaderboard::-webkit-scrollbar-thumb {
	background-color: rgb(255, 255, 255);
	outline: 1px solid rgb(216, 231, 231);
}

#gradient-bg {
	background: rgb(254,248,250);
	background: linear-gradient(186deg, rgba(254,248,250,1) 0%, rgba(237,242,249,1) 53%, rgba(148,187,233,1) 100%);	
	height : 75vh;
	width: 100%;
	position : fixed;
	top: 0;
	z-index: -100;
}

section {
	z-index: 100;
	width : 70%;
	min-width: 400px;
}

.leaderboard {
	display : flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 3%;
	background-color: transparent;
	margin-top: 12vh;
}

.leaderboard > h1 {
	margin :  2vh 0;
}

#top-three {
	margin-right: 15%;
	margin-left: 15%;
	background-color: transparent;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/* ********************************/
/* *** TopThreeDetail COMPONENT ***/
/* ********************************/
.podium {
	display: flex;
	flex-direction: column;
}

.podium img {
	border-radius: 50%;
	padding: 5px;
}

.podium > h1, h3, p {
	margin : 0;
	text-align: center;
}

#first img {
	height : 200px;
	width: 200px;
	background-color: rgb(246, 195, 9);
}

#second img {
	height : 130px;
	width: 130px;
	background-color: rgb(9, 167, 246);
}

#third img {
	height : 130px;
	width: 130px;
	background-color: rgb(246, 41, 9);
}

.podium > h3 {
	border-radius: 20px;
	margin-right: 20px;
	margin-left: 20px;
	color: white;
}

.podium > h1 {
	font-size: 2.3em;
}

#first h3 {
	background-color: rgb(246, 195, 9);
}

#second h3 {
	background-color: rgb(9, 167, 246);
}

#third h3 {
	background-color: rgb(246, 41, 9);
}

/* ****************************** */
/* PERFORMANCE DETAILS COMPONENT */
/* ****************************** */

.stats {
	border-radius: 20px;
	border: solid rgb(239, 242, 253);
	background-color: white;
	margin-bottom: 8px;
}

.stats:hover, #myRank:hover {
	border: solid rgb(198, 202, 214);
}

.stats > img {
	height : 100px;
	width: 100px;
	border-radius: 50%;
	/* border: solid rgb(239, 242, 253); */
	padding: 2px;
	display: block;

}

#myRank {
	background-color: rgb(151, 166, 216);
	border: solid rgb(151, 166, 216);
	color: white;
}

.user-ids {
	display:flex;
	flex-direction: column;
	align-items: flex-start;
}

.stats {
	display : flex;
	justify-content: space-around;
	align-items: center;
}

.one-stat {
	display: flex;
	flex-direction: column;
	align-items: center;
}
