.navbar {
    background-color: #fdfdff;
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 2rem;
    /*position: fixed;
    width: 100%;
    z-index: 100;*/
  }

.menu-bars {
  margin-left: 1rem;
  font-size: 2rem;
  background: none;
  transform: scale(1.5);
}

.nav-menu {
  background-color: #ffffff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 100;
  
}
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #0f0f0f;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1b59a0;
  }
  
.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #291888;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.navbar__title{
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(11, 11, 11);
  text-decoration: none;
}

.navbar__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#test {
	position: relative;
	top: 85%;
	left: -65%;
}

/* Styling du bouton pour  changer de thème */
.theme-switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 80px;
	margin-right: 1.5vw;
	}
	
	.theme-switch input {
	display:none;
	}
	
	.slider {
	background-color: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
	}
	
	.slider:before {
	background-color: #fff;
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: .4s;
	width: 26px;
	}
	
	input:checked + .slider {
	background-color: #bfded6;
	}
	
	input:checked + .slider:before {
	transform: translateX(18px);
	}
	
	.slider.round {
	border-radius: 34px;
	}
	
	.slider.round:before {
	border-radius: 50%;
	}
	