@import '../App.css';
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Pacifico&display=swap');
.navbar {
    background-color:var(--heading-color);
	/* background-image: var(--header-image); */
    height: 80px;
	width: 200%;
	position:relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* padding: 0 2rem; */
  }

/* Menu qui apparait quand tu clique sur la croix  */

.nav-menu {
  background-image: var(--sides-color);
  opacity: 0.70; 
  width: 250px;
  height: 902px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 9%;
  left: -100%;
  transition: 850ms;
  z-index: 100;
  
}
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
.nav-menu-items {
  width: 100%;
}
/* START NEON  */

.navbar__title {
	font-family: 'Monoton', cursive;
	font-size:50px;
	border: none;
	color: rgba(255,255,255,0.6);
	text-decoration: none;
	text-align: center;
	text-shadow: 
	   1px 5px 4px rgba(0,0,0,.3), 
	  0 0 2px rgba(255,255,255,1), 
	  0 0 10px rgba(255,255,255,1), 
	  0 0 20px rgba(255,255,255,1), 
	  0 0 30px rgba(255,255,255,1), 
	  0 0 40px #ff00de, 
	  0 0 70px #ff00de, 
	  0 0 80px #ff00de,
	  0 0 100px #ff00de;
	  
  }
  
  
  .navbar__title span{
	animation: blink .3s infinite alternate;
  }
  
   .navbar__title span.delay{
	animation-duration:6s;
	animation-delay: 2s;
	animation-direction: alternate;
	/* cubic-bezier(0.5, 0.2, 0.3, 1.0) */
  }
  
  @keyframes blink {
	0%   {}
	50%  {}
	60%{
	  text-shadow: 
		0 0 2px rgba(255, 255, 255, .1), 
		0 0 10px rgba(255, 255, 255, .4);
	  
	  text-stroke: 2px rgba(255,255,255,0.05);
	}
	70%{
	  text-shadow: 
		0 0 2px rgba(255,255,255,1), 
		0 0 10px rgba(255,255,255,1), 
		0 0 20px rgba(255,255,255,1), 
		0 0 30px rgba(255,255,255,1), 
		0 0 40px #ff00de, 
		0 0 70px #ff00de, 
		0 0 80px #ff00de,
		0 0 100px #ff00de;
	}
	80%{
	  text-shadow: 
		0 0 2px rgba(255, 255, 255, .1), 
		0 0 10px rgba(255, 255, 255, .4);
	  
	  text-stroke: 2px rgba(255,255,255,0.05);
	}
	100% { 
	  text-shadow: 
		0 0 2px rgba(255,255,255,1), 
		0 0 10px rgba(255,255,255,1), 
		0 0 20px rgba(255,255,255,1), 
		0 0 30px rgba(255,255,255,1), 
		0 0 40px #ff00de, 
		0 0 70px #ff00de, 
		0 0 80px #ff00de,
		0 0 100px #ff00de;
	}
  }

/* END NEON */
/* Position du bouton switch mode  */

#test {
	position: relative;
	top: 85%;
	left: -65%;
}

/* Styling du bouton pour  changer de thème */
.theme-switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 80px;
	margin-right: 1.5vw;
	}
	
	.theme-switch input {
	display:none;
	}
	
	.slider {
	background-color: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
	}
	
	.slider:before {
	background-color: #fff;
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: .4s;
	width: 26px;
	}
	
	input:checked + .slider {
	background-color: #bfded6;
	}
	
	input:checked + .slider:before {
	transform: translateX(18px);
	}
	
	.slider.round {
	border-radius: 34px;
	}
	
	.slider.round:before {
	border-radius: 50%;
	}
	
	/* Burger menu  */

label{
	display: flex;
	flex-direction: column;
	width: 70px;
	cursor: pointer;
	position:relative;
	transform: scale(0.7);
}

label span{
	background: white;
	border-radius: 5px;
	height: 7px;
	margin: 7px;
	transform: .4s cubic-bezier(0.68, -0.6, 0.32,1.6);
}

/* Les barres du burger menu  */

span:nth-of-type(1){
	width: 50%;
}

span:nth-of-type(2){
	width: 100%;
}

span:nth-of-type(3){
	width: 75%;
}

/* Display et rotation pour former la croix  */

input[type="checkbox"]{
	display:none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1){
	transform-origin:bottom;
	transform:rotateZ(45deg) translate(8px,0px)
}

input[type="checkbox"]:checked ~ span:nth-of-type(2){
	transform-origin:top;
	transform:rotateZ(-45deg)
}

input[type="checkbox"]:checked ~ span:nth-of-type(3){
	transform-origin:bottom;
	width:50%;
	transform:translate(30px,-11px) rotateZ(45deg)
}

