@import "../App.css";

/* ********************************/
/* ***      VARIABLES CSS       ***/
/* ********************************/

#social-dashboard {
	--social-primary-bg-color : white;
	--social-primary-font-color: black;
	--social-secondary-color : rgb(4, 30, 136);

	/* Buttons to filter groups in social page */ 
	--filter-btn-main-color : var(--sides-color); /* vient de App.css */
	--filter-btn-secondary-color : rgba(255, 255, 255, 0.678);

	/* Search bar component */
	--search-bar-input : rgb(14, 14, 12);
	--search-bar-main-bg-element : white;
	--search-bar-font-color : black;
	--search-bar-add-btn :white;

	/* Elements in DisplayConnections component */
	--profile-img-border-color : solid 2px rgb(185, 99, 222);
	--profile-img-border-hover-color : solid 3px rgb(204, 169, 218);
}

/* ********************************/
/* ***      Social PAGE         ***/
/* ********************************/

#social-dashboard {
	flex: 2 auto;
	height : 92vh;
	/* margin-top : 8vh; */
	background-color: var(--bg-color); /* vient de App.css */
	color: var(--font-color); /* vient de App.css */
}

#social-dashboard > h1:first-of-type {
	text-align: center;
	font-size: 3.5rem;
	margin : 2vh 0;
}

#social-dashboard button {
	border: transparent;
	font-family: var(--font-type);
	margin: auto;
	color:  rgb(24, 46, 65);
	text-shadow:
	0 0 7px #efefef,
	0 0 10px #90d0f0,
	0 0 42px rgb(60, 116, 166),
	0 0 77px rgb(60, 116, 166),
	0 0 80px rgb(24, 46, 65);
}

#social-dashboard input {
	width: 50vw;
	color: var(--search-bar-input); /* couleur de la border */
}

#social-dashboard input::placeholder {
	width: 50vw;
	color:var(--search-bar-input);
}

.social-btn {
	display:flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin : 3vh 10vw;
}

.social-btn > button {
	padding: 1vw 4vw; 
	border-radius: 20px;
	font-weight: 800;
}

.btn {
	background-color: var(--filter-btn-main-color);
}

.clicked-btn, .btn:hover {
	background-color: var(--filter-btn-secondary-color);
}

/* **************************** */
/*      SearchBar Component     */
/* **************************** */

.text_serachBar{
	padding-top: 200px;
	font-family: var(--font-type);
}

.search_bar {
	/* margin-top: 100px; */
	display: flex;
	justify-content: center;
	align-items: center;
}

#search_input {
	outline: 0;
	border: 1px solid var(--search-bar-main-bg-element);
	background-color: var(--search-bar-main-bg-element);
}

#search_input:hover, #search_input:focus {
    border: 1.5px solid var(--sides-color);
    background-color: var(--search-bar-main-bg-element);
  }

.searched_user {
	background-color: var(--filter-btn-main-color);
	margin: 0 2vw;
	padding: 0 1vw;
	border-radius: 20px;
}

.searched_user:hover {
	background-color: var(--search-bar-main-bg-element);
	margin: 0 2vw;
}

.search_user_infos {
	display:flex;
	justify-content: center;
	align-items: center;
	gap : 0.5vw;
}

.search_user_infos > a {
	text-decoration: none;
	color: var(--search-bar-add-btn);
	padding: 0.5em 0.5em;
	/* background-color: rgb(44, 35, 35); */
	border-radius: 50%;
	margin-left :0.5vw;
}

.search_user_infos:hover > a {
	text-decoration: none;
	background-color: var(--heading-color);
}

#search_user_avatar {
	height: 6vh;
	width: auto;
	border-radius: 50%;
}

#title {
	text-shadow: none;
	color:  rgb(24, 46, 65);
	text-shadow:
	0 0 7px #efefef,
	0 0 10px #90d0f0,
	0 0 42px rgb(60, 116, 166),
	0 0 77px rgb(60, 116, 166),
	0 0 80px rgb(24, 46, 65);
	font-size: 1em;
}

#title > em {
	color:rgb(26, 60, 155);
	font-family: var(--font-type);
}

/* **************************** */
/* DisplayConnections Component */
/* **************************** */

.all-current {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	margin : 2vh 10vw 0vh 10vw;
	padding-bottom: 700px;
}

.profile {
	background-color: var(--social-primary-bg-color);
	border-radius: 20px;
	margin : 2vw;
	color:  white;
	text-shadow:
	0 0 7px #efefef,
	0 0 10px #90d0f0,
	0 0 42px rgb(60, 116, 166),
	0 0 77px rgb(60, 116, 166),
	0 0 80px rgb(24, 46, 65);
	height: 15em;
	width: 20%;
	display: flex;
	flex-direction: column; /* Set the flex direction to column */
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
}

.profile:hover {
	/* color : var(--social-primary-font-color); */
	font-size: large;
}

.img-container > img{
	height: 12vh;
	width: 12vh;
	max-height: 100%;
	max-width:100%;
	object-fit: contain;
	border-radius: 50%;
	border : var(--profile-img-border-color);
	margin: 1rem;
}

.img-container > img:hover {
	border : var(--profile-img-border-hover-color);
	/* cursor: pointer; */
}

.profile_infos {
	display: flex;
	justify-content: center;
	align-items: first baseline;
	gap: 1vw;
	/* flex-direction: column; Set the flex direction to column */
}

.profile_infos > div:hover {
	cursor: pointer;
}

.profile_infos_allfriends > div:hover {
	cursor: pointer;
}

.profile_infos_allfriends {
	display: flex;
	justify-content: center;
	align-items: first baseline;
	gap: 1vw;
	/* flex-direction: column; Set the flex direction to column */
}

.profile_infos_activeFriends {
	display: flex;
	justify-content: center;
	align-items: first baseline;
	gap: 1vw;
	/* flex-direction: column; Set the flex direction to column */
}

.profile_infos > div:first-of-type {
	color : rgb(29, 123, 216);
}

.profile_infos > div:nth-child(3) {
	color : gray;
}

.profile_infos > div:last-of-type {
	color : rgb(243, 64, 64);
}


.profile_infos_allfriends > div:nth-child(2) {
	color : gray;
}

.profile_infos_allfriends > div:last-of-type {
	color : rgb(243, 64, 64);
}
