@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Open+Sans&family=Share+Tech&display=swap');

/* ********************************/
/* ***       TabChat PAGE       ***/
/* ********************************/

/* .convo__card {
	background-color: white;
} */

.convo__card * {
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.convo__header {
	background-color: rgb(63, 89, 118);
	padding: 1em 0.4em;
}

.convo__header_title {
	display: flex;
	justify-content: space-between;
}

#convo__name {
	color: black;
}

.convo__bottom {
	position: fixed;
	width: 100%;
	bottom: 28%;
	background-color: rgb(63, 89, 118);
	padding: 1em;
}

#convo__form {
	text-align: center;
	display: flex;
	gap: 4px;
}

#convo__messages {
	overflow: scroll;
	overflow-x:hidden;
	overflow-anchor: none;
	height: auto;
	max-height: 630px;
	/* min-height: 645px; */
}

#convo__messages * {
	overflow-anchor: none;
}

#convo__messages_anchor {
	overflow-anchor: auto;
	height: 1px;
}

/* ********************************/
/* ***   OneMessage COMPONENT   ***/
/* ********************************/

.one__msg {
	margin: 1em;
	display: flex;
	gap: 5px;
}

.one__msg_me {
	margin: 1em;
	display: flex;
	gap: 5px;
	flex-direction: row-reverse;
	justify-content: right;
	align-items: right;
}

.one__msg_info {
	display: flex;
	flex-direction: column;
}

.one__msg_header {
	display: flex;
	gap: 5px;
	align-items: center;
	color: white;
}

.one__msg_avatar {
	height: 2em;
	width: auto;
	border-radius: 50%;
}

.one__msg_content {
	background-color: rgb(126, 147, 167);
	padding: 5px;
	border-radius: 10px;
	margin-top: 1px;
}

.one__msg_content_me {
	background-color: rgb(210, 224, 224);
	padding: 5px;
	border-radius: 10px;
	margin-top: 1px;
	
}

.options__icon {
	color: white;
	height: 23px;
	width: auto;
}

.options__icon:hover {
	color: rgb(118, 167, 197);
	height: 28px;
	width: auto;
}