.channels_page{
    padding:30px;
    border-radius:10px;
    width: 400px;
    margin: 4px;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
	border: none;
    box-shadow:
		0 0 7px #efefef,
		0 0 10px #efefef,
		0 0 20px rgb(60, 116, 166),
		0 0 42px rgb(60, 116, 166),
		0 0 50px rgb(60, 116, 166);
    height: 1100px;
}

.channels_page > ul{
    list-style-type: none;
}

.channels_page > ul, h1,  li{
    font-family: var(--font-type);
    color: #e3eef1;
    text-shadow:
      0 0 7px #efefef,
      0 0 10px #90d0f0,
      0 0 42px rgb(60, 116, 166),
      0 0 77px rgb(60, 116, 166),
      0 0 100px rgb(24, 46, 65);
}

.channels_page > h1, li{
    padding-left: 10px;
}