@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Open+Sans&family=Share+Tech&display=swap');

/* ********************************/
/* ***       TabChat PAGE       ***/
/* ********************************/

.channels_page {
	border: none;
    border-radius:10px;
    height: 85vh;

    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    box-shadow:
		0 0 7px #efefef,
		0 0 10px #efefef,
		0 0 20px rgb(60, 116, 166),
		0 0 42px rgb(60, 116, 166),
		0 0 50px rgb(60, 116, 166);
}

#channels_page_title {
    font-family: 'Bruno Ace SC', cursive;
    font-weight: 600;
    font-size: larger;
    text-shadow: 0 0 15px #efefef, 0 0 10px #90d0f0, 0 0 42px rgb(60, 116, 166), 0 0 77px rgb(60, 116, 166), 0 0 100px rgb(24, 46, 65);
    color: rgb(10, 10, 10);
    
    padding: 1rem;
}


/* ********************************/
/* ***  ChannelLink COMPONENT   ***/
/* ********************************/

.channel-link-card {
    /* background-color: white; */
    border-bottom: solid 1px black;

    padding: 1.2em;

    display : flex;
    flex-direction: column;
}

.channel-link-header {
    margin-bottom: 1vh;
}

.channel-link-name {
    font-family: 'Bruno Ace SC', cursive;
    font-weight: 400;
    font-size: large;
    text-shadow: 0 0 7px #efefef, 0 0 10px #90d0f0, 0 0 42px rgb(60, 116, 166), 0 0 77px rgb(60, 116, 166), 0 0 100px rgb(24, 46, 65);
    color: white;
}
.channel-link-span {
    font-family: 'Open Sans', sans-serif;

    padding: 0.2rem;
    margin: 0.5rem;
    border-radius: 10%;

    background-color: rgb(105, 151, 192);
    color: white;
}

.channel-link-preview {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: left;
    justify-content: space-between;
    color: white;
}

.channel-link-messenger {
    font-weight: 600;
}

.channel-link-lastmsg {
    font-style: italic;
}

.channel-link-date { 
    font-size: small; 
}