@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Open+Sans&family=Share+Tech&display=swap');

/* ********************************/
/* ***       TabChat PAGE       ***/
/* ********************************/

.channels_page {
	border: none;
    border-radius:10px;
    height: 78vh;

    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    box-shadow:
		0 0 7px #efefef,
		0 0 10px #efefef,
		0 0 20px rgb(60, 116, 166),
		0 0 42px rgb(60, 116, 166),
		0 0 50px rgb(60, 116, 166);
}

#channels_page_title {
    font-family: 'Bruno Ace SC', cursive;
    font-weight: 600;
    font-size: larger;
    text-shadow: 0 0 15px #efefef, 0 0 10px #90d0f0, 0 0 42px rgb(60, 116, 166), 0 0 77px rgb(60, 116, 166), 0 0 100px rgb(24, 46, 65);
    color: rgb(10, 10, 10);
    
    padding: 1rem;
}

.channels_page-noconv {
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    color: white;
}

.channels_page-noconv > h3{
    font-family: 'Bruno Ace SC', cursive;
    font-size: large;
    text-shadow: 0 0 15px #efefef, 0 0 10px #90d0f0, 0 0 42px rgb(60, 116, 166), 0 0 77px rgb(60, 116, 166), 0 0 100px rgb(24, 46, 65);

}

.channels_page-noconv > h6{
    font-size: medium;
    text-align: center;
}

#channels_page_joinedscroll {
    overflow: auto;
	overflow-x:hidden;
}

/* ********************************/
/* ***  ChannelLink COMPONENT   ***/
/* ********************************/

.channel-link-card {
    border-bottom: solid 1px black;
    padding: 1.2em;

    display : flex;
    flex-direction: column;

    scroll-behavior: auto;
}

.channel-link-card:hover {
    background-color: rgb(79, 97, 110);
}

.channel-link-header {
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-between;
}

.channel-link-name {
    font-family: 'Bruno Ace SC', cursive;
    font-weight: 400;
    font-size: large;
    text-shadow: 0 0 7px #efefef, 0 0 10px #90d0f0, 0 0 42px rgb(60, 116, 166), 0 0 77px rgb(60, 116, 166), 0 0 100px rgb(24, 46, 65);
    color: white;
}
.channel-link-span {
    font-family: 'Open Sans', sans-serif;
    font-size: small;

    padding: 0.3rem 1rem;
    margin: 0.5rem;
    border-radius: 10%;

    background-color: rgb(41, 55, 70);
    color: white;
}

.channel-link-invite {
    color: white;
}

.channel-link-invite:hover {
    color: rgb(23, 25, 27);
}

.channel-link-invite-card {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 0 1vw;
    background-color: rgb(70, 85, 99);
    width: 100%;
}

.channel-link-preview {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: left;
    justify-content: space-between;
    color: white;
}

.channel-link-messenger {
    font-weight: 600;
}

.channel-link-lastmsg {
    font-style: italic;
}

.channel-link-date { 
    font-size: small; 
}