@import "../App.css";


/* ********************************/
/* ***      VARIABLES CSS       ***/
/* ********************************/




/* ********************************/
/* ***    User Profile PAGE     ***/
/* ********************************/

#whole-profile-container {
	height: 81vh;

}
#whole-profile {
	display: flex;
	justify-content: center;
	margin: 11vh 8vw 0vh 8vw;
	/* padding-top: 10vh;
	padding-bottom: 11vh; */
	
}

#whole-profile hr {
	margin : 1vh;
}

#main-dashboard {
	background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
	border: 2px solid rgb(35, 71, 103);
	box-shadow:
		0 0 7px #efefef,
		0 0 10px #efefef,
		0 0 20px rgb(60, 116, 166),
		0 0 42px rgb(60, 116, 166),
		0 0 50px rgb(60, 116, 166);
	padding : 1vw;
	border-radius: 20px;
	margin : 0 2vw 2vh 2vw;
}

#top-dashboard {
	display : flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

#top-dashboard > div:first-of-type {
	margin-right: 1vw;
}

#hexagon-avatar {
	height: 9em;
	width : 8em;
	background-size: cover;
	clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
	margin : 1em;
	background-position: top center;
}

#bio-container {
	height: 29vh;
}

#bio {
	display: flex;
	align-items: center;
	color: white;
}

.titles {
	display : flex;
	align-items: center;
}

.titles > h2:first-child {
	font-family: var(--font-type);
	color: #e3eef1;
	text-shadow:
	0 0 7px #efefef,
	0 0 10px #90d0f0,
	0 0 42px rgb(60, 116, 166),
	0 0 77px rgb(60, 116, 166),
	0 0 100px rgb(24, 46, 65);
	/* animation: lumiere 1s infinite linear; */
	font-size: 1.4em;
	margin-right: 0.7vw;
}

#status {
	border-radius: 20px;

	font-size: 0.7rem;
	text-align: center;
	
	padding: 0.5rem 0.67rem;
	width: 5rem;
	margin-bottom: 1vh;
}

.ONLINE {
	background-color: rgb(27, 102, 27);
	color: rgb(84, 187, 84);
}

.OFFLINE {
	background-color: rgb(168, 21, 16);
	color: rgb(49, 6, 6);
}

.user_bio {
	margin-left : 1rem;
}

.user_bio > span:first-of-type {
	/* background-color: rgb(60, 7, 60); */
	border-radius: 10px;
	font-family: var(--font-type);
	font-size: small;
	color: #e3eef1;
	text-shadow:
	0 0 7px #efefef,
	0 0 10px #90d0f0,
	0 0 42px rgb(60, 116, 166),
	0 0 77px rgb(60, 116, 166),
	0 0 100px rgb(24, 46, 65);
	
}

#main-stats {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 1em;
	/* height: 5vh; */
}

.one-stat {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	/* height: 5vh; */
}

.one-stat:hover .fa-icon {
	color: rgb(60, 116, 166);
}

.fa-icon {
	font-size: 1.2em;
	color : rgb(255, 255, 255);
}

.one-stat_txt{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.one-stat_title, .one-stat-stat {
	font-size: 1.2em;
}

.user-infos > button {
	all: unset;
	cursor: pointer;
	color: rgb(255, 255, 255);
	padding-right: 1vw;
}

.user-infos > button:hover {
	all: unset;
	cursor: pointer;
	color: rgb(21, 224, 163);
	padding-right: 1vw;
}

/* ********************************/
/* ***  Achievement COMPONENT   ***/
/* ********************************/

#achievements {
	margin-top : 4vh;
	
}

#achievements > h1 {
	font-family: var(--font-type);
	color: #e3eef1;
	text-shadow:
	0 0 7px #efefef,
	0 0 10px #90d0f0,
	0 0 42px rgb(60, 116, 166),
	0 0 77px rgb(60, 116, 166),
	0 0 100px rgb(24, 46, 65);
	/* animation: lumiere 1s infinite linear; */
	margin-bottom: 1vh;
	margin-left : 1rem;
	margin-top: 6vh;
}

.all-achievements {
	
	display : flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 2rem;
}

.one-achievement {
	width: 17%;
	height: 10vh;
	border-radius: 20px;
	padding-top: 1rem;
	text-align: center;
	/* background-color: #e8f5fca6;
	border : solid 1px rgb(251, 251, 251); */
	background-color: rgb(97, 98, 104);
	border : solid 1px rgb(29, 27, 27);
}

.one-achievement:hover {
	background-color: rgb(105, 104, 104);
	border : solid 1px rgb(109, 108, 108);
	
}

.one-achievement > h3 {
	font-family: var(--font-type);
	color: rgb(3, 19, 27);
	margin-top: 0.5rem;
	margin-bottom: 0.5vh;
	font-size: 0.8rem;
}

.one-achievement > h4 {
	color :rgb(40, 61, 71);
	font-size: 0.8rem;
	font-style: italic;
}

.one-achievement:hover > h4 {
	color :white;
	font-size: 0.8rem;
	font-style: italic;
}

.fa-icon-achievements {
	color: rgb(24, 46, 65);
	font-size : 1.5rem;
}

#completed_achievement > h3 {
	/* color: var(--heading-color); */
	color: rgb(24, 46, 65);
}

#completed_achievement {
	background-color: #f8f8f8a6;
	border : solid 1px rgb(251, 251, 251); 
	color : rgb(35, 71, 103);
	text-shadow:
	0 0 7px #efefef,
	0 0 10px #90d0f0,
	0 0 42px rgb(60, 116, 166),
	0 0 77px rgb(60, 116, 166),
	0 0 100px rgb(24, 46, 65);
}

/* ********************************/
/* ***  Competitive overview    ***/
/* ********************************/

#stats {
	background-color: 	rgba(24, 46, 65, 0.801);;
	border-radius : 20px;
	padding: 1vw;
	width: 50%;
	margin-top: 2rem;
}


#stats > h1, #stats > h5 {
	font-family: var(--font-type);
	text-shadow:
	0 0 7px #efefef,
	0 0 10px #90d0f0,
	0 0 42px rgb(60, 116, 166),
	0 0 77px rgb(60, 116, 166),
	0 0 100px rgb(24, 46, 65);
	/* animation: lumiere 1s infinite linear; */
	color : black;
	text-align: center;
}


/* Radial progress bar for win rate */
.circular-progress {
	position: relative;
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	background: conic-gradient(var(--heading-color) 3.6deg, #ededed 0deg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.circular-progress::before {
	content: "";
	position : absolute;
	height : 80%;
	width : 80%;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
}

.progress-value {
	font-size: 2em;
	font-weight: 500;
	color: rgb(44, 44, 48);
}

.winrate__title {
	text-align: center;
	font-size: 0.8rem;
	font-weight: 500;
	color: black;
}

.winrate__content {
	position: relative;
}


 /* Stats below or beside the circular progress bar */
.winratio_stats {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.statdisplay {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1.5vh;
}

/* challenge button below */
.challenge-btn {
	font-weight: 0;
	font-size: 14px;
	color: #fff;
	background-color: var(--heading-color);
	padding: 10px 30px;
	border: solid white 2px;
	box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
	border-radius: 50px;
	transition : 1000ms;
	transform: translateY(0);
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	margin: 0 auto;
}

.challenge-btn:hover{
	transition : 500ms;
	padding: 10px 50px;
	transform : translateY(-0px);
	background-color: #fff;
	color: var(--heading-color);
	border: solid 2px var(--heading-color);
}

/* ********************************/
/* *** Match History COMPONENT  ***/
/* ********************************/

aside {
	margin : 2vw 4vw 2vw 0;
	width : 25%;
}

aside > h1:first-child {
	font-family: var(--font-type);	
	color: #ffffff;
	text-shadow:
	0 0 7px #efefef,
	0 0 10px #90d0f0,
	0 0 42px rgb(60, 116, 166),
	0 0 77px rgb(60, 116, 166),
	0 0 100px rgb(24, 46, 65);
	color : white;
	margin-top : 1vh;
	margin-bottom: 20px;
	text-align: center;
}

.match-card {
	background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
	border: 3px solid rgb(35, 71, 103);
	box-shadow:
		0 0 7px #efefef,
		0 0 10px #efefef,
		0 0 20px rgb(60, 116, 166),
		0 0 42px rgb(60, 116, 166),
		0 0 77px rgb(60, 116, 166);

	border-radius: 20px;
	width : 100%;
	margin: 0.5em;
	padding : 0.5rem;
}

.match-card h5 {
	color:rgb(255, 255, 255);
	font-weight: 400;
}

.match-detail {
	display: flex;
	justify-content: center;
	align-items: center;
}

.match-detail > div {
	margin : 0.2em;
}

.match-outcome {
	text-align: center;
	margin: 0.5vw 0;
	width : 100%;
	color: white;
}

.victory {
	font-family: var(--font-type);
	background-color: rgb(0, 128, 0);
	background: -moz-linear-gradient(left, rgba(35,175,68,0) 0%, rgba(35,175,68,0.8) 15%, rgba(35,175,68,1) 19%, rgba(35,175,68,1) 20%, rgba(37,198,80,1) 50%, rgba(37,188,52,1) 80%, rgba(37,188,52,1) 81%, rgba(37,188,52,0.8) 85%, rgba(37,188,52,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(35,175,68,0) 0%,rgba(35,175,68,0.8) 15%,rgba(35,175,68,1) 19%,rgba(35,175,68,1) 20%,rgba(37,198,80,1) 50%,rgba(37,188,52,1) 80%,rgba(37,188,52,1) 81%,rgba(37,188,52,0.8) 85%,rgba(37,188,52,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(35,175,68,0) 0%,rgba(35,175,68,0.8) 15%,rgba(35,175,68,1) 19%,rgba(35,175,68,1) 20%,rgba(37,198,80,1) 50%,rgba(37,188,52,1) 80%,rgba(37,188,52,1) 81%,rgba(37,188,52,0.8) 85%,rgba(37,188,52,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0023af44', endColorstr='#0025bc34',GradientType=1 ); /* IE6-9 */
}

.ace {
	font-family: var(--font-type);
	background: -moz-linear-gradient(left, rgba(232,58,46,0) 0%, gold 15%, gold 19%, gold 20%, gold 50%, gold 80%, gold 81%, gold 85%, rgba(206,79,41,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(232,58,46,0) 0%,gold 15%,gold 19%,gold 20%,gold 50%,gold 80%,gold 81%,gold 85%,rgba(206,79,41,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(232,58,46,0) 0%,gold 15%,gold 19%,gold 20%,gold 50%,gold 80%,gold 81%,gold 85%,rgba(206,79,41,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e83a2e', endColorstr='#00ce4f29',GradientType=1 ); /* IE6-9 */
}

.defeat {
	font-family: var(--font-type);
	background: -moz-linear-gradient(left, rgba(232,58,46,0) 0%, rgba(232,58,46,0.8) 15%, rgba(232,58,46,1) 19%, rgba(232,58,46,1) 20%, rgba(216,61,41,1) 50%, rgba(206,79,41,1) 80%, rgba(206,79,41,1) 81%, rgba(206,79,41,0.8) 85%, rgba(206,79,41,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(232,58,46,0) 0%,rgba(232,58,46,0.8) 15%,rgba(232,58,46,1) 19%,rgba(232,58,46,1) 20%,rgba(216,61,41,1) 50%,rgba(206,79,41,1) 80%,rgba(206,79,41,1) 81%,rgba(206,79,41,0.8) 85%,rgba(206,79,41,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(232,58,46,0) 0%,rgba(232,58,46,0.8) 15%,rgba(232,58,46,1) 19%,rgba(232,58,46,1) 20%,rgba(216,61,41,1) 50%,rgba(206,79,41,1) 80%,rgba(206,79,41,1) 81%,rgba(206,79,41,0.8) 85%,rgba(206,79,41,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e83a2e', endColorstr='#00ce4f29',GradientType=1 ); /* IE6-9 */
}

.equality {
	font-family: var(--font-type);
	background: -moz-linear-gradient(left, rgba(232,58,46,0) 0%, rgba(56, 77, 197, 0.8) 15%, rgba(56, 77, 197, 0.8) 19%, rgba(56, 77, 197, 0.8) 20%, rgba(56, 77, 197, 0.8) 50%, rgba(56, 77, 197, 0.8) 80%, rgba(56, 77, 197, 0.8) 81%, rgba(56, 77, 197, 0.8) 85%, rgba(206,79,41,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(232,58,46,0) 0%,rgba(56, 77, 197, 0.8) 15%,rgba(56, 77, 197, 0.8) 19%,rgba(56, 77, 197, 0.8) 20%,rgba(56, 77, 197, 0.8) 50%,rgba(56, 77, 197, 0.8) 80%,rgba(56, 77, 197, 0.8) 81%,rgba(56, 77, 197, 0.8) 85%,rgba(206,79,41,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(232,58,46,0) 0%,rgba(56, 77, 197, 0.8) 15%,rgba(56, 77, 197, 0.8) 19%,rgba(56, 77, 197, 0.8) 20%,rgba(56, 77, 197, 0.8) 50%,rgba(56, 77, 197, 0.8) 80%,rgba(56, 77, 197, 0.8) 81%,rgba(56, 77, 197, 0.8) 85%,rgba(206,79,41,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e83a2e', endColorstr='#00ce4f29',GradientType=1 ); /* IE6-9 */
}

.opponent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.opponent h4 {
	font-family: var(--font-type);
	font-size: 0.8rem;
}

.opponent img {
	height: 5rem;
	width: 5rem;
	max-width: 5rem;
	border-radius: 50%;
}