.avatar {
	background-color: #ffffff;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	margin-right: 0.7vw;
	cursor: pointer;
}

.avatar:hover {
	background-color: rgb(194, 24, 121);
	border-radius: 20%;
	transition: all .4s ease;
}

.avatarPannel {
	background-color: #4abce9;
	border-radius: 30%;
	top: 10%;
	right: 10%;
}

@keyframes openPannel {
	0% {transform: scale(0);}
	100% {transform: scale(1);}
}

@keyframes closePannel {
	0% {transform: scale(1);}
	100% {transform: scale(0);}
}

.avatarPannel.open
{
	animation: openPannel 0.5s ease-out;
}

.avatarPannel.close
{
	animation: closePannel 0.5s ease-out;
}
