@import "../App.css";

.stat_container  {
	display: inline-block;
	height: 2.5vh;
	width : 6vw;
	margin-right : 0.5rem;
}

.stat_container > span {
	padding : 0;
	line-height: 2.5vh; 
	vertical-align: middle;
	margin-left: 0.2rem;
}

.stat_win {
	border-left: solid 4px rgb(27, 215, 121);
	background: linear-gradient(90deg, rgba(60,212,123,0.8015581232492998) 0%, rgba(0,212,255,0) 100%);
}

.stat_lose {
	border-left: solid 4px rgb(221, 36, 45);
	background: linear-gradient(90deg, rgb(243, 67, 76) 0%, rgba(0,212,255,0) 100%);
}

.stat_default {
	border-left: solid 4px rgb(76, 142, 192);
	background: linear-gradient(90deg, rgb(76, 132, 192) 0%, rgba(0,212,255,0) 100%);
}